/*美化表格的CSS*/
td{
    border: blue 1px solid;
}
thead{
    text-align: center;
    background-color: lightskyblue;
}
thead>tr>td{
    padding: 10px;
    transition: color 0.3s ease; /* 添加过渡效果 */
}
thead>tr>td:hover{
    color:blue;
}
table{
    color:mediumblue;
}
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
    background-color: lightskyblue;
    border-color: lightskyblue;
}
.pagination>li>a, .pagination>li>span {
    color: blue;
}
.pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus {
    color: lightskyblue;
}
#rows_info_demo_pag1{
    font-size: 18px;
    color:blue;
}